QSizeGrip {
    width: 16px;
    height: 16px;
    image: url(":/QtTheme/icon/size_grip/{{base[2]}}.svg");
}

{% for key in colors %}

QSizeGrip[Color="{{key}}"] {
    width: 16px;
    height: 16px;
    image: url(":/QtTheme/icon/size_grip/{{colors[key][5]}}.svg");
}

{% endfor %}