QWidget {
    background-color: {{base[9]}};
    color: {{base[1]}};
}

QWidget:disabled {
    background-color: {{base[9]}};
    color: {{base[5]}};
}

{% for key in colors %}

QWidget[color="{{key}}"] {
    background-color: {{base[9]}};
    color: {{colors[key][5]}};
}

QWidget[color="{{key}}"]:disabled {
    background-color: {{base[9]}};
    color: {{colors[key][8]}};
}

{% endfor %}